<li
    id="{{item._id}}"
    data-id="{{item._id}}"
    class="{{adminListRowClass}} list-group-item"
>
    <div class="row">
        <div class="col-10">
            {{#adminListExtra}}
                {{{adminListExtra}}}
            {{/adminListExtra}}
            {{^adminListExtra}}
                {{#listSortable}}
                    <i class="fa fa-sort"></i>
                {{/listSortable}}
                <a href="{{editBaseUri}}/edit/{{item._id}}"
                    class="openmodal"
                >
                    {{{adminListName}}}
                </a>
            {{/adminListExtra}}
            <div class="pull-right">
                {{#item.etsyId}}
                    <i class="fa fa-etsy small"></i>
                {{/item.etsyId}}
            </div>
        </div>
        <div class="col-2">
            <div class="float-right action-buttons d-flex flex-nowrap">
                {{{adminListButtons}}}
            </div>
        </div>
    </div>
